# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3000"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
FRONTEND_URL="http://localhost:5173" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000"  # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="1000" # Max number of requests per window per IP

DATABASE_URL="postgresql://expenso_database_bluw_user:FiyuKgaBjqsrwVn4FONI0tUgHLmsuEwj@dpg-d40dvimuk2gs73a0urdg-a.frankfurt-postgres.render.com/expenso_database_bluw"

JWT_SECRET="matchmyvibe"